.user{
    margin-top: 10%;
    margin-bottom: 6%;
    font-weight: bolder;
    font-size: 25px;
}
.username{
    margin-top: 2%;
   margin-left: 23%;
    font-size: large;
}.usernamebox{
    margin-top: 8px;
    height: 23px;
    width: 70%;
    border-radius: 5px;
}
.password{
    margin-top: 11px;
    margin-left: 23%;
    font-size: large;
}
.passwordbox{
    margin-top: 8px;
    height: 23px;
    width: 70%;
    border-radius: 5px;
}
.login
{
    margin-left: 40%;
    margin-top: 21px;
    margin-bottom: 10%;
}
.loginbutton{
font-size: 105%;
height: 2%;
width: 28%;
padding: 1px;
}
.full{
    border-style: solid;
    border-width: 1px;
    width:30%;
    margin-left: 35%;
    margin-top: 12%; 
}
.signup{
    font-size: large;
    margin-inline:-40px ;
    margin-bottom: 7%;
    margin-right: 1%;
}
.signupbutton
{
    margin-left: 2%;
font-size:17px;
}
.full {
    background-image: url('https://media.istockphoto.com/id/1338041415/photo/cricket-player-batsman-hitting-a-ball-with-a-bat-shot-from-below-background.jpg?s=612x612&w=0&k=20&c=yfA2wr1mcHrWSPzdzFYagSTNW1MTfpY5NAD67BiCw1k=');
    background-size: cover;
    background-position: center;
  }
  