form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;
  }
  
  label {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  .background {
    background-image: url('https://media.istockphoto.com/id/683659992/video/cricket-player-on-professional-cricket-stadium.jpg?s=640x640&k=20&c=89dFFXoeNvE3miyHDoDimiRgVfYAI8D_T_3bLkwajbI=');
    background-repeat: no-repeat;
    background-size: cover;
    height: 113vh;
  }
  
 
  
  